.margin-container{
    margin: 0 auto;     
}

.container-asai{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.asai-button{
    width: 90%;
    border: 2px solid black;
    border-radius: 2%;
    color: white;
    padding: 15px 25px;
    margin-bottom: 20px;
}

.asai{
    background-color: rgb(78, 78, 228);
}

.batidos{
    background-color: rgb(108, 37, 103);
}