.margin-container{
    margin:  auto;     
}

.container-asai{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asai-button{
    width: auto;
    border: 0;
    color: white;
    min-width: 450px;
    min-height: 200px;
    margin-bottom: 20px;
    border-radius: 15px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.asai{
    background-color: rgb(78, 78, 228);
    font-size: 24px;
}

.batidos{
    background-color: rgb(108, 37, 103);
    font-size: 28px;
}

@media (max-width: 420px) {
  .asai-button{
    min-width: 200px;
  }
}